$primary-font: 'Poppins', sans-serif;
$primary-color: #5171f1;
$secondary-color: #fea31b;
$white-color: #ffffff;
$text-color: #202930;
$light-blue-color: #daefff;
$light-blue-2-color: #f3f8fc;
$gray-color: #f3f3f3;
$gray-light-color: #d2d9e0;
$gray-light-2-color: #65757d;
$gray-light-3-color: #cad6e1;
$gray-light-4-color: #9aabb9;
$black-color: #000000;